.matching {
  margin: auto;
}

  .week img {
  margin-top: -7%;
  margin-left: -2%;
  width: 42%;
  height: 80%;
  float: left;
  margin-right: 25px;
}

#first {
  margin-top: 50px;
}

.txtFirst {
  margin-left: 4.3%;
  border-color: #c92e48;
}

.txtSecond {
  margin-left: 2%;
  border-color: #c92e48;
}

.week input {
  width: 15%;
  background-color: #f7efde;
  border-radius: 5px;
  height: 30px;
  font-size: 17px;
  color: #89253b;
}

.display {
  margin-top: 20px;
  padding-left: 0px;
}

.week label {
  margin-top: 70px;
  margin-left: 10%;
  font-size: 30px;
  color: #89253b;
  font-weight: bold;
}

ul {
  list-style: none;
}

table{
  height: 80px;
}

.daysTable td {
  border: 5px solid;
  border-style: inset;
  font-size: 20px;
  font-weight: bold;
  border-color: #c92e48;
  width: 14%;
  transform: rotate(-45deg);
  border-radius: 15px;
}

.days {
  background-color: #f7efde;
  margin-left: -10px;
}

.btnMatch {
  background-color: #a52b46;
  color: #f7efde;
  width: 10%;
  height: 7%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.display {
  color: #016001;
  margin-left: 40%;
  margin-top: 90px;
  font-size: 20px;
  font-weight: bold;
}

.daysTable {
  padding-top: 120px;
}

.btnMatch {
  margin-left: 36.5%;
  margin-top: 20px;
}

.greenDay {
  background-color: #2e8246;
  color: #f9eee3;
}

.blueDay {
  background-color: #313d84;
  color: #f9eee3;
}

.redDay {
  background-color: #c92e48;
  color: #f9eee3;
}
